@import 'nprogress/nprogress.css';

html, html main {
  font-family: ' luminari';
  font-weight: 500;
  /* font-style: italic */
}


html body {
  overflow: hidden !important;
  /* font-style: italic */
}

#nprogress .bar {
  z-index: 2000;
}
.page-wrapper {
  margin: 0 auto;
  padding: 0px 8px;
  max-width: 1445px;
  width: 100%;
}
