@import 'nprogress/nprogress.css';

html main {
  font-family: 'comic sans ms, luminari';
  font-weight: 600;
  /* font-style: italic */
}

#nprogress .bar {
  z-index: 2000;
}
.page-wrapper {
  margin: 0 auto;
  padding: 0px 8px;
  max-width: 1445px;
  width: 100%;
}
